.swiper-button-next {
    color: #ffba08 !important;
  }
  
  .swiper-button-prev {
    color: #ffba08 !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ffba08 !important;
  }