.header {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
}
.logo {
    position: absolute;
    width: 184.06px;
    height: 45.92px;
    left: 628px;
    top: 27px;
}
